@page "/teams"
@inject HttpClient Http
@using Services.ViewModels.Teams

<h1>Current Teams</h1>


<EditForm Model="@EditObject" OnValidSubmit="CreateOrUpdateObject">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <button class="btn btn-secondary" @onclick="@(e => CreateNew())">Create New</button>
    <InputText id="name" @bind-Value="EditObject.Name" />
    <InputNumber id="skill" @bind-Value="EditObject.Skill" />

    <button class="btn btn-primary" type="submit">Submit</button>
</EditForm>

@if (teams == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-sm table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Skill</th>
                <th colspan="2">Options</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var team in teams)
            {
                <tr>
                    <td>@team.Id</td>
                    <td>@team.Name</td>
                    <td>@team.Skill</td>
                    <td><button class="btn btn-primary" name="Edit" @onclick="@(e => EditClick(@team.Id))">Edit</button></td>
                    <td><button class="btn btn-danger" name="Delete" @onclick="@(e => DeleteClick(@team.Id))">Delete</button></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {

    private TeamViewModel EditObject = new TeamViewModel();

    private TeamViewModel[] teams;

    private static string server = "https://localhost:44304";
    private string list = $"{server}/api/team";
    private string find = $"{server}/api/team/find";
    private string update = $"{server}/api/team";
    private string delete = $"{server}/api/team/delete";

    protected override async Task OnInitializedAsync()
    {
        await SetData();
    }

    public async Task<bool> SetData()
    {
        teams = await Http.GetJsonAsync<TeamViewModel[]>($"{list}");

        StateHasChanged();

        return true;
    }

    private async Task<bool> DeleteClick(long id)
    {
        var deleteObject = new TeamViewModel() { Id = id };

        await HttpClientJsonExtensions.PostJsonAsync(Http, $"{delete}", deleteObject);

        await SetData();

        return true;
    }
    private async Task<bool> EditClick(long id)
    {
        EditObject = await Http.GetJsonAsync<TeamViewModel>($"{find}/{id}");

        return true;
    }

    private async Task<bool> CreateNew()
    {
        EditObject = new TeamViewModel();

        await SetData();

        return true;
    }

    private async Task<bool> CreateOrUpdateObject()
    {
        EditObject.TeamType = TeamType.BaseTeam;

        await HttpClientJsonExtensions.PostJsonAsync(Http, $"{update}", EditObject);

        await SetData();

        return true;


    }


}